<style lang="scss" scoped>
  .header{
    display: flex;
    margin-bottom: 20px;
    h1{
      margin-left: 12px;
      font-size: 20px;
    }
  }

  .selction-section{
    height: calc( 100% - 149px );
    overflow: scroll;
  }

</style>

<template>
    <div class="warp-menu bg-grey">
        <section class="header">
          <BackButton :small="true" />
          <h1 class="color-black">
            <div class="welcome-title">{{ $t("setting.network") }}</div>
          </h1>
        </section>
        <section class="selction-section">
          <SelectionPage :value="data" :options="options" :onChange="changeNetwork"></SelectionPage>
        </section>

    </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'
import * as Actions from '@/store/constants';
import _ from 'lodash';
import Bytom from '@/utils/Bytom'
import { wallet } from '@/models/wallet'

export default {
    name: "",
    data() {
        return {
          data :'',
          options: [
            { label: 'Bytom', value: "bytom2" },
            { label: 'Bytom Classic', value: "bytom1" }
          ],
        };
    },
    computed: {
      ...mapState([
        'bytom',
      ]),
      ...mapGetters([
        'net',
        'chainType'
      ])
    },
    methods: {
      changeNetwork(event){
        const bytom = this.bytom.clone();
        const chainType = event.target.value === 'bytom2' ? 'bytom' : 'bytom1'
        bytom.settings.chainType = event.target.value;
        bytom.settings.netType = chainType
        this.data = event.target.value
        this[Actions.UPDATE_STORED_BYTOM](bytom)
        this[Actions.SET_BYTOM](Bytom.fromJson(bytom))
        wallet.setChain(chainType)
      },
      ...mapActions([
        Actions.UPDATE_STORED_BYTOM,
        Actions.SET_BYTOM
      ])
    },
    mounted() {
      if(this.bytom && this.bytom.settings.chainType){
        this.data = this.bytom.settings.chainType
      }
    },
  };
</script>
